.form {
    display: flex;
    flex-direction: column;
    > * {
        margin-bottom: $m-size;
    }
}

.form__error {
    color: #a94442;
}

.form__success {
    background: #d4edda;
    border: 1 solid #cacccd;
    border-radius: 0.5rem;
    color: #155724;
    margin: 0 0 $m-size 0;
    padding: $s-size;
}